html, body, #page-content {
    height: 100%;
}

#page-content {
    position: relative;
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
}

.Sidebar {
    grid-column: 2;
}

#map-container {
    grid-column: 1;
}

#logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1000;

    font-size: 4em;

    font-family: 'Potta One', cursive;
    background: -webkit-linear-gradient(50deg, #6dc285, #198bbf);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
