html, body, #page-content {
    height: 100%;
}

#page-content.sidebar-visible {
    display: grid;
    grid-template-columns: 4fr minmax(350px, 1fr);
}

#page-content {
    position: relative;
}

.sidebar-visible #map-container {
    grid-column: 1;
}

#logo {
    /*position: absolute;*/
    /*bottom: 5px;*/
    /*left: 5px;*/
    /*z-index: 1000;*/

    display:inline-flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5em;

    font-family: 'Potta One', cursive;
    background: -webkit-linear-gradient(50deg, #31de85, #6c19bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logo .by {
    font-size: 0.7em;
    margin-left: 0.6em;
}

#map-container {
    z-index: 1;
}

#sidebar {
    display: none;
    z-index: 2;
}

#sidebar.visible {
    grid-column: 2;
    display: block;
}

ul.story-list {
    list-style-type: none;
    padding: 0;
}

.story-container {
    border-right-width: 0;
    border-right-style: solid;
    padding: 4px 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.story {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #acacac;
    border-color: inherit;
    border-left-width: 3px;
    border-right-width: 0;
}

@media (min-width: 500px) and (max-width: 1000px) {
    #page-content.sidebar-visible {
        display: block;
    }

    #sidebar {
        grid-column: unset;
        position: absolute;

        width: 50%;
        min-width: 350px;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fffff4;
    }

    #logo {
        font-size: 1.8em;
        bottom: 20px;
    }
}

@media (max-width: 500px) and (min-width: 0) {
    #page-content.sidebar-visible {
        display: block;
    }

    #sidebar.visible {
        position: absolute;
        grid-column: unset;

        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fffff4;
    }


    #logo {
        /*font-size: 12px;*/
        bottom: 20px;
    }
}
