html, body, #page-content {
    height: 100%;
}

#page-content {
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
}

.Sidebar {
    grid-column: 2;
}

#map-container {
    grid-column: 1;
}
